.globalContainer {
  width: 100%;
  min-height: var(--setHeight);

  flex-direction: column;

  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: auto auto;
  grid-column-gap: 0rem;
  grid-row-gap: 1rem;

  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;

  padding-top: 1rem;
}

.text {
  color: var(--fontColor);
  font-weight: 700;
  text-align: center;

  margin: 0;
}

.title {
  color: var(--fontColor);
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  text-transform: capitalize;
}