.global-variables {
  --setHeight: 100vh;

  --fontSmallest: 0.7rem;
  --fontSmall: 0.8rem;
  --fontMedium: 0.9rem;
  --fontSubTitle: 1.1rem;
  --fontTitle: 1.3rem;
}

.DARK {
  --primaryColor: #232323;
  --primaryColorSub: #232323;
  --secondaryColor: orange;
  --secondaryColorSub: #490000;

  --boxShadow: 3px 3px 5px 0px rgba(0, 0 ,0, 0.5);

  --fontColor: #FFFFFF;
}

.LIGHT {
  --primaryColor: #e1e5f2;
  --primaryColorSub: #e1e5f2;
  --secondaryColor: #1f7a8c;
  --secondaryColorSub: #022b3a;

  --boxShadow: 3px 3px 5px 0px rgba(0, 0 ,0, 0.5);

  --fontColor: #000000;
}

.body {
  background-color: var(--primaryColor);
  transition: background-color 0.5s;
  
  min-height: var(--setHeight);

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  scroll-behavior: smooth;
}