.globalContainer {
  width: 100%;
  min-height: var(--setHeight);

  flex-direction: column;
}

.textContainer {
  width: 50%;

  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;

  grid-gap: 1rem;
}

.text {
  color: var(--fontColor);
  font-weight: 700;
  text-align: center;

  margin: 0;
}

.title {
  color: var(--secondaryColor);
}

.subTitle {

}

.description {
  font-style: italic;
  font-size: var(--fontMedium);
}

.btn {
  height: 3rem;
  width: 12rem;
  color: var(--secondaryColor);
  background-color: transparent;
  border: 2px solid var(--secondaryColor);
  box-sizing: border-box;
  font-size: var(--fontTitle);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  text-align: center;

  border-radius: 15px;
}

.btn:hover {
  color: white;
  background-color: var(--secondaryColor);
}